body {
  background-color: aliceblue;
}

.container {
  max-width: 430px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-content {
  width: 400px;
  height: 250px;
  margin-top: 250px;
  text-align: center;
  background-color: rgba(201, 201, 201, 0.189);
  border-radius: 35px
}

.question-form {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.results {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 36px;
  color: rgba(59, 61, 65, 0.968);
}

.students-name {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  border: solid 2px black;
}

.students-score {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 30px;
  border: solid 2px black;
}

.send-btn {
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 30px;
}